<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="limiter">
        <div class="container">
            <div class="wrapper" >
                <h1>Тренировки следващите 7 дни</h1> 
                <hr/>
                <table class="workoutsList table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Час</th>
                        <th scope="col">Тренировка</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let workout of workouts">
                            <td>{{workout.date}} </td>
                            <td>{{workout.time}} </td>
                            <td>{{workout.name}} </td>
                            <td><button class="btn btn-primary" [ngClass]="workout.id === workoutParticipantsId ? 'active' : ''"  (click)="findParticipants(workout.id)">Провери участниците</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="participantsList"> <h4><strong>Списък на участниците</strong></h4>
                    <ol *ngFor="let participant of participants">
                        <li>{{participant?.firstName}} {{participant?.lastName}}</li>
                    </ol>
                    <div *ngIf="!participants?.length && clicked">Няма участници!</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>