<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="limiter">
    <div class="container">
      <div class="wrapper">
        <div class="col-md-3">
          <div class="card">
              <img src="/assets/fitnessLogo3.png" alt="Fitness Sport Inspiration" style="width:100%">
              <h1>Sport Inspiration</h1>
              <p class="title">Спорт, фитнес и релаксация!</p>
              <p><i>Място за адрес</i></p>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <!-- <p><button>Contact</button></p> -->
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="card">
              <img src="/assets/yoga.jpg" alt="John" style="width:100%">
              <h1>John Doe</h1>
              <p class="title">Yoga trainer</p>
              <p>Self-educated</p>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <p><button>Contact</button></p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</body>
</html>