<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="limiter">
        <div class="container">
            <div class="wrapper">
                <h1>Upcomming workouts</h1> 
                <hr/>
                <div class="row">
                    <div class="col-md-5" *ngFor="let workout of workouts">
                        <div class="well hoverwell thumbnail">
                            <h2>{{workout.name}}</h2>
                            <div>Duration: {{workout.duration}}</div>
                            <div>Trainer: {{workout.trainer?.firstName + ' ' + workout.trainer?.lastName}}</div>
                            <div>Date: {{workout.date}}</div>
                            <div>Time: {{workout.time}}</div>
                            <div>Spaces remainig: {{workout?.spaceRemaining}}/{{workout?.capacity}}</div>
                            <div *ngIf="authenticated">
                                <button class="btn btn-primary" (click)="savePlace(workout.id)" *ngIf="workout.spaceRemaining">Save place</button>
                                <button class="btn btn-primary" (click)="freePlace(workout.id)" *ngIf="workout.spaceRemaining">Free up place</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
