<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="limiter">
        <div class="container">
            <div class="wrapper">
                <h1>Предстоящи тренировки</h1> 
                <select name="type" [(ngModel)]="typeSelected">
                    <option value="default">---Всички---</option>
                    <option *ngFor="let type of workoutTypeNames" [value]="type">{{type}}</option>
                </select>
                <select name="trainer" [(ngModel)]="trainerSelected">
                    <option value="default">---Всички треньори---</option>
                    <option *ngFor="let trainer of workoutTrainers" [value]="trainer.userName">{{trainer.firstName}} {{trainer.lastName}}</option>
                </select>
                <!-- <label for="date">Дата: </label>
                <input type="date" id="date" [(ngModel)]="dateSelected">   -->
                <hr/>


                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Час</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Тип тренировка</th>
                        <th scope="col">Тренировка</th>
                        <th scope="col">Треньор</th>
                        <th scope="col">Продължителност</th>
                        <th scope="col">Оставащи места</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let workout of workouts; let i = index">
                        <div *ngIf="this.dayOfWeek[i] !== '' && (typeSelected === 'default' || typeSelected === workout.workoutType.name) 
                        && (trainerSelected === 'default' || trainerSelected === workout.trainer.userName)">{{this.dayOfWeekAsString(workout.date)}}</div>
                        <tr *ngIf="(typeSelected === 'default' || typeSelected === workout.workoutType.name) 
                        && (trainerSelected === 'default' || trainerSelected === workout.trainer.userName)">
                        <td>{{workout.time}}</td>
                        <td>{{workout.date}}</td>
                        <td>{{workout.workoutType.name}}</td>
                        <td>{{workout.name}}</td>
                        <td>{{workout.trainer?.firstName + ' ' + workout.trainer?.lastName}}</td>
                        <td>{{workout.duration}}</td>
                        <td>{{workout?.spaceRemaining}}/{{workout?.capacity}}</td>
                        <td *ngIf="authenticated">                                
                            <button class="btn btn-primary" (click)="savePlace(workout.id)" *ngIf="!isUserAppliedForWorkout(workout) && workout.spaceRemaining">Запазете място</button>
                            <button class="btn btn-primary" (click)="freePlace(workout.id)" *ngIf="isUserAppliedForWorkout(workout)">Освободете място</button>
                        </td>
                        </tr>
                    </tbody>
                </table>


                <!-- <div class="row">
                    <div *ngFor="let workout of workouts"  class="col-md-4">
                        <div *ngIf="(typeSelected === 'default' || typeSelected === workout.workoutType.name) 
                            && (trainerSelected === 'default' || trainerSelected === workout.trainer.userName)" class="well hoverwell thumbnail"> 
                            <h2>{{workout.name}}</h2>
                            <div>Продължителност: {{workout.duration}}</div>
                            <div>Треньор: {{workout.trainer?.firstName + ' ' + workout.trainer?.lastName}}</div>
                            <div>Дата: {{workout.date}}</div>
                            <div>Час: {{workout.time}}</div>
                            <div>Оставащи места: {{workout?.spaceRemaining}}/{{workout?.capacity}}</div>
                            <div *ngIf="authenticated">
                                <button class="btn btn-primary" (click)="savePlace(workout.id)" *ngIf="!isUserAppliedForWorkout(workout) && workout.spaceRemaining">Запазете място</button>
                                <button class="btn btn-primary" (click)="freePlace(workout.id)" *ngIf="isUserAppliedForWorkout(workout)">Освободете място</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>
